<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/style.css"/>
    <title>About</title>
</head>
<body>
    <h1>About the actor</h1>
    <div class = "aboutJensen">
        Jensen Ross Ackles (born March 1, 1978) is an American actor. 
        He is best known for his portrayal of Dean Winchester in The WB/CW dark fantasy drama series Supernatural (2005-2020) and appearing in television series such as NBC's Days of Our Lives as Eric Brady (earning him several Daytime Emmy Award nominations), super soldiers Ben/X5-493 and Alec/X5-494 in Fox's Dark Angel, Jason Teague in The WB/CW's Smallville, and Ben/Soldier Boy in Amazon Prime Video's The Boys. 
        He also starred as the lead in the box office success My Bloody Valentine 3D, and provided the voices of Jason Todd in the animated film Batman: Under the Red Hood, and Bruce Wayne/Batman in the animated adaptation of Batman: The Long Halloween.</div>
    <h2>Early life</h2>
    <div class = "aboutJensen">
        Ackles was born in Dallas the son of Donna Joan (née Shaffer) and Alan Roger Ackles, an actor.
        He grew up in Richardson and attended Lloyd V. Berkner High School.
        After graduating in 1996, he moved to Los Angeles to begin his acting career.
    </div>
    <h2>Personal life</h2>
    <div class = "aboutJensen">
        After three years of dating, Ackles became engaged to actress and model Danneel Harris in November 2009.
        The couple married on May 15, 2010, in Dallas. Their first child, a daughter, was born in May 2013.
        In August 2016, the couple announced that they were expecting twins, a boy and a girl who were born in December.

        Ackles is a co-owner of a brewery in Dripping Springs, Texas, Family Business Beer Company, with his wife and in-laws. The brewery's name is a reference to Supernatural ("family business" being a tagline for the series).
    </div>
    
        <a href ="/home">Back to homepage</a>
</body>
</html>