<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/style.css"/>
    <title>Gallery</title>
</head>
<body>
    <div class ="work_movie">
    <h1>Best movies</h1>
    <h3>Supernatural
    <img class ="impala" src="images/dean_impala.jpg" alt="impala" />
    </h3>

    <h3>Wishbone
        <img class ="wishbone" src="images/wishbone.jpg" alt="wishbone" />
    </h3>

    <h3>Big Sky
        <img class ="bigsky" src="images/bigsky.jpg" alt="bigsky" />
    </h3>

    <a href ="/home">Back to homepage</a>
</div>

</body>
</html>