<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/style.css"/>
    <title>Home Page</title>
</head>
<body>
    <div id = "homePage">
    <h1>Jensen Ackles</h1>
    <img class ="portrait" src="/images/dean_gun.jpg" alt="portrait" />
    <h2>
        Are you interested to know more things about Jensen?
        Go check these links below!
    </h2>
    <div class ="aRef">
    <a href="/works">Work</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>

    
   </div>
   <img class ="logo" src ="/images/logo_supernatural.png">
</div>
</body>
</html>