<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/style.css"/>
    <title>Work</title>
</head>
<body>
    <h1>Career</h1>
    <p class = "careerJensen">
        After modeling on and off since the age of four, Ackles began to concentrate on an acting career in 1996.
        He appeared in several guest roles on Mr. Rhodes, Sweet Valley High, and Cybill before joining the cast of the NBC soap opera Days of Our Lives as Eric Brady in 1997. 
        He won a 1998 Soap Opera Digest Award for Best Male Newcomer and went on to be nominated three times (in 1998, 1999, and 2000) for a Daytime Emmy Award for Outstanding Younger Actor in a Drama Series for his work on Days of our Lives.
    </p>
    <p class = "careerJensen">   
        Ackles left Days of our Lives in 2000 and went on to appear in the mini-series Blonde, about the life of Marilyn Monroe. 
        He also auditioned for the role of the young Clark Kent on Smallville, a role offered to actor Tom Welling instead.
        Next he appeared in a guest role on the James Cameron television series Dark Angel on Fox in 2001 as serial killer Ben/X5-493, the brother of main character Max/X5-452 (played by Jessica Alba). 
        His character died in the episode, but Ackles returned to the show as a series regular in the second season as Ben's sane clone, Alec/X5-494. He remained with the show until its cancellation in 2002.
    </p>
    
    <h2>Supernatural TV Series</h2>
    <p class = "careerJensen">
        In 2005, Ackles joined the cast of the WB show horror/action series Supernatural where he starred as Dean Winchester. 
        Dean and his brother Sam (Jared Padalecki) drive throughout the United States hunting paranormal predators, fighting demons and angels, and showcasing fantasy & sci-fi pop culture. 
        The show ended after fifteen seasons, making it the longest-running North American sci-fi series in history.
    </p>
    <a href ="/home">Go back to HomePage</a>

</body>
</html>